.contactsBlock{
    background-color: #1f1f20;
}
.contactsContainer{
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 15px;
}
.form input, .form textarea{
    width: 100%;
    margin: 5px;
}
.buttonSend{
    margin: 30px;
}
@media screen and (max-width: 500px) {
    .form{
        width: 100%;
    }
}