@import "../Common/styles/sass/variables.scss";
@import "../Common/styles/sass/mixins.scss";

.contactsBlock {
  background-color: $bgColor1;
  padding: 30px 0;
  .container {
    @include flex(column, space-between, center, wrap);
    min-height: 300px;
    .extraText{
      @include text($textFont, 300, 15px, 1px, 1.3);
      padding: 20px 0;
    }
    .form {
      @include flex(column, center, center, nowrap);
      width: 40%;
      margin-top: 15px;
      @media screen and (max-width: 500px) {
        width: 100%;
      }

      input, textarea {
        width: 100%;
        margin: 5px;
      }

      .formArea, .messageArea {
        background-color: $bgColor2;
        border: 1px solid #4a4a4a;
        border-radius: 25px;
        outline: none;
        box-sizing: border-box;
        @include text($titleFont, 400, 18px, 1px, 1.3);
        color: #495057;
        margin-bottom: 1.2rem;
        &:-webkit-autofill{
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #495057;
          -webkit-box-shadow: 0 0 0 1000px #252527 inset;
          transition: background-color 5000s ease-in-out 0s;
          &:focus{
            border: 2px solid $bgColor2;
          }
        }
      }
      .formArea{
        height: calc(1.5em + .75rem + 2px);
        padding: .4rem 15px;
        &:focus{
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }
      .messageArea{
        min-height: 160px;
        padding: 15px;
        resize: none;
        &:focus{
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .button{
        cursor: pointer;
        width: 160px;
        border-radius: 25px;
      }
    }


  }
}





