@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins.scss";
.hiringBlock{
    background-color: $bgColor2;
    padding: 30px 0;
    .container{
        @include container();
        @include flex(column, space-around, center, wrap);
        min-height: 300px;
        .button{
            cursor: pointer;
            width: 160px;
            border-radius: 25px;
        }
    }
}

