@import "../../Common/styles/sass/mixins";
@import "../../Common/styles/sass/variables";

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10px;

  .imgSkill {
    .icon {
      width: 80px;
      height: 80px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }
  }

  .skillInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    h3 {
      margin: 10px;
      @include text($titleFont, 400, 25px, 1px, 1.3);
    }
    .rating {
      margin: 10px;
      align-items: center;
    }
  }
}


