@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";
.title{
    text-align: center;
    h2{
        margin-bottom: 20px;
        @include text($titleFont, 500, 36px, 1.4, 3px);
        text-transform: capitalize;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 70px;
            bottom: -15px;
            background-color: $primaryColor;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }


}
