@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.mainBlock {
  background-color: #1f1f20;
  padding: 100px 0;
  .container {
    @include container();
    @include flex(column, center, center, nowrap);
    .personalInformation {
      width: 100%;
      @include flex(row, space-between, center, wrap);
      @media screen and (max-width: 950px) {
        @include flex(row, space-evenly, center, wrap);
      }
      .textAreaBlock {
        @include flex(column, center, center, nowrap);
        .textArea {
          .greetingText {
            @include text($titleFont, 300, 25px, 1px, 1.3);
          }
          .nameText {
            @include text($titleFont, 500, 50px, 1px, 1.3);
            padding-bottom: 20px;
            padding-top: 20px;
          }
          .professionText {
            @include text($titleFont, 400, 30px, 1px, 1.3);
          }
        }

        .buttons {
          width: 100%;
          padding-top: 20px;
          @include flex(row, space-between, center, nowrap);
          .button{
            cursor: pointer;
            width: 160px;
            border-radius: 25px;
          }
        }
      }

      .mainPhoto {
        width: 45%;
        height: 45%;
        @include flex(row, center, center, nowrap);

        .myPhoto {
          width: 80%;
          border-radius: 50%;
        }
      }
    }
  }
}





