@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.mainBlock {
  background-color: #1f1f20;
  padding: 160px 0;

  .container {
    @include container();
    @include flex(row, space-between, center, wrap);
    z-index: 1;
    @media screen and (max-width: 1042px) {
      @include flex(row, space-evenly, center, wrap);
    }
    .textAreaBlock {
      padding-bottom: 20px;
      .textArea {
        @media screen and (max-width: 1050px) {
         text-align: center;
        }
        .greetingText {
          @include text($textFont, 300, 25px, 1.4, 3px);
        }

        .nameText {
          @include text($titleFont, 500, 50px, 1.4, 3px);
          span{
            color: #4e93e6;
          }
        }


        .professionText {
          @include text($textFont, 400, 27px, 1.4, 3px);
        }
      }

      .buttons {
        width: 100%;
        padding-top: 10px;
        @include flex(row, space-between, center, wrap);
        @media screen and (max-width: 450px) {
          @include flex(row, center, center, wrap);
        }
        .button {
          cursor: pointer;
          width: 160px;
          border-radius: 25px;
          @media screen and (max-width: 450px) {
            margin: 10px 0;
          }
          a{
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    .mainPhoto {
      @include flex(row, center, center, nowrap);
      width: 45%;
      height: 45%;

      .myPhoto {
        width: 370px;
        filter: brightness(70%);
        @media screen and (max-width: 370px) {
          width: 200px;
        }
      }
    }
  }
}





