.mainBlock{
    height: 100vh;
    background-color: #1f1f20;
}
.text{
    width: 300px;
    background-color: aqua;
}
.mainPhoto{
    height: 400px;
    width: 300px;
    background-color: aqua;
}
.myPhoto{
    height: 100%;
    width: 100%;
}

