@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.mainBlock {
  background-color: #1f1f20;
  padding: 100px 0;
  .particles {
    opacity: 0.5;
  }
  .container {
    @include container();
    @include flex(column, center, center, nowrap);
    .personalInformation {
      z-index: 1;
      width: 100%;
      @include flex(row, space-between, center, wrap);
      @media screen and (max-width: 910px) {
        @include flex(row, space-evenly, center, wrap);
      }
      .textAreaBlock {
        @media screen and (max-width: 915px) {
          @include flex(column, center, center, nowrap);
        }
        padding: 20px 0;
        .textArea {
          @include flex(column, center, start, wrap);
          @media screen and (max-width: 915px) {
            @include flex(column, center, center, wrap);
          }
          .greetingText {
            @include text($titleFont, 300, 25px, 1px, 1.3);
          }
          .nameText {
            @include text($titleFont, 500, 50px, 1px, 1.3);
            padding-bottom: 20px;
            padding-top: 20px;
          }
          .professionText {
            @include text($titleFont, 400, 30px, 1px, 1.3);
          }
        }

        .buttons {
          width: 100%;
          padding-top: 10px;
          @include flex(row, space-between, center, wrap);
          @media screen and (max-width: 450px) {
            @include flex(row, center, center, wrap);
          }
          .button{
            cursor: pointer;
            width: 160px;
            border-radius: 25px;
            @media screen and (max-width: 450px) {
              margin: 10px 0;
            }
          }
        }
      }
      .mainPhoto {
        width: 45%;
        height: 45%;
        @include flex(row, center, center, nowrap);

        .myPhoto {
          width: 370px;
          filter: brightness(70%);
          @media screen and (max-width: 930px) {
            width: 250px;
          }
        }
      }
    }
  }
}





