@import "../../Common/styles/sass/variables";
@import "../../Common/styles/sass/mixins";

.nav {
  padding: 0 20px;
  width: 400px;
  @include flex(row, space-between, center, nowrap);

  .link{
    @include text($textFont, 400, 20px, 2px, 1.5);
    cursor: pointer;
    &:hover{
      color: $primaryColor;
      text-decoration: none;
    }

  }
  .active {
    color: $primaryColor;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}

