@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    .linkText{
        @include text($textFont, 400, 20px, 2px, 1.5);
    }
}

