@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";
.nav{
    padding: 0 20px;
    @include flex(row, space-between, center, nowrap);
    width: 400px;
    .linkText{
        @include text($textFont, 400, 20px, 2px, 1.5);
    }
}

