@import "../../Common/styles/sass/variables";
@import "../../Common/styles/sass/mixins";
.project{
    @include flex(column, center, center, nowrap);
    width: 280px;
    padding: 20px;
    .imgProject{
        @include flex(row, center, flex-end, nowrap);
        position: relative;
        height: 280px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        &::before{
            position: absolute;
            content: "";
            background-color: $bgColor1;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
        }
        .buttonProject{
            border: 1px solid #252121;
            outline: none;
            position: relative;
            z-index: 1;
            cursor: pointer;
            width: 120px;
            border-radius: 25px;
            opacity: 0.4;
            bottom: 120px
        }
        .buttonProject:hover{
            opacity: 0.8;
        }
    }
    .projectInfo{
        @include flex(column, center, center, nowrap);
        background-color: $bgColor2;
        padding: 10px;
        .projectTitle{
            @include text($titleFont, 400, 20px, 1.5, 1px);
        }
        .description{
            @include text($textFont, 300, 15px, auto, 1px);
            text-align: justify;
        }
    }
}







