@import "variables";
@mixin text($fontFamily,$fontWeight, $fontSize, $lineHeight, $letterSpacing){
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $textColor;
}