.footerBlock{
    background-color: #212529;
}
.footerContainer{
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 1px solid;
    margin-top: 15px;
}
