@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.footerBlock {
  background-color: $bgColor2;
  padding: 30px 0;
  .container {
    @include container();
    @include flex(column, space-between, center, wrap);
    min-height: 300px;

    .icons {
      @include flex(row, space-around, center, nowrap);
      width: 280px;
      height: 50px;
      margin-top: 15px;
    }

    .footerText {
      margin: 30px;
      @include text($textFont, 300, 15px, 1px, 1);
      opacity: 0.6;
    }
  }
}



