.projectsBlock {
    background-color: #1f1f20;
}

.projectsContainer {
    flex-direction: column;
    justify-content: start;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    min-height: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}