.projectsBlock {
    background-color: orangered;
}

.projectsContainer {
    flex-direction: column;
    justify-content: start;
}
.title{
    background-color: aqua;
    margin: 0 auto;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid;
    min-height: 300px;
}